<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag :reset, :default, :basic_ansi %>
  </head>
  <body>
    <%= javascript_controller_actions %>
    <script type="text/javascript" src="file://<%= Redcar::HtmlView.jquery_path %>"></script>
    <h1><%= @title %></h1>
    <div id="container">
      <div class="command">
        <%= @cmd %>
      </div>
    </div>
    <form class="actions" action="javascript:return false;">
      <span class="running_action">
        <input type="submit" value="Stop" onclick="Controller.close();"/>
      </span>
      <span class="onfinish_action">
        <input type="submit" value="Run again" onclick="Controller.run();"/>
      </span>
    </form>
  </body>
</html>
